<!-- progressbar -->
<h3 class="components-section-title font-weight-normal mt-5">Progress Bars :</h3>
<hr>
<small>Default: </small>
<div class="progress mt-2 mb-3">
    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0"
        aria-valuemax="100"><span>90%</span></div>
</div>
<small>Success:</small>
<div class="progress mt-2 mb-3">
    <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0"
        aria-valuemax="100"><span>90%</span></div>
</div>
<small>Danger:</small>
<div class="progress mt-2 mb-3">
    <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0"
        aria-valuemax="100"><span>90%</span></div>
</div>
<small>Warning:</small>
<div class="progress mt-2 mb-3">
    <div class="progress-bar bg-warning" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0"
        aria-valuemax="100"><span>90%</span></div>
</div>
<small>Info:</small>
<div class="progress mt-2 mb-3">
    <div class="progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0"
        aria-valuemax="100"><span>90%</span></div>
</div>
<small>Dark:</small>
<div class="progress mt-2 mb-3">
    <div class="progress-bar bg-dark" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0"
        aria-valuemax="100"><span>90%</span></div>
</div>