<!-- Page Header -->
<header class="header header-mini">
    <div class="header-title">Components</div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Components</li>
        </ol>
    </nav>
</header>
<!-- End Of Page Header -->
<div class="container">
    <app-component-buttons></app-component-buttons>
    <app-component-inputs></app-component-inputs>
    <app-component-dropdowns></app-component-dropdowns>
    <app-component-navigations></app-component-navigations>
    <div class="row justify-content-between">
        <div class="col-md-5">
            <app-component-progressbars></app-component-progressbars>
        </div>
        <div class="col-md-6">
            <app-component-paginations></app-component-paginations>
            <app-component-badges></app-component-badges>
        </div>
    </div>
    <!-- devider -->
    <div class="py-5"></div>
    <app-component-alerts></app-component-alerts>
    <app-component-tables></app-component-tables>
    <app-component-typography></app-component-typography>
</div>