<!-- Buttons -->
<h3 class="mt-5">Buttons</h3>
<hr>
<h6 class="section-secondary-title">Styles :</h6>
<button class="btn btn-primary">Default</button>
<button class="btn btn-outline-primary">outline</button>
<button class="btn btn-primary rounded">Rounded</button>
<button class="btn btn-primary rounded"><i class="ti ti-thumb-up pr-1"></i> With Icon</button>
<button class="btn btn-primary circle"><i class="ti ti-heart"></i></button>

<h6 class="section-secondary-title mt-5">Sizes :</h6>
<button class="btn btn-primary btn-lg">Large</button>
<button class="btn btn-primary ">Regular</button>
<button class="btn btn-primary btn-sm">Small</button>
<button class="btn btn-primary w-sm ml-3">w-sm</button>
<button class="btn btn-primary w-md">w-md</button>
<button class="btn btn-primary w-lg">w-lg</button>

<h6 class="section-secondary-title mt-5">Colors :</h6>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<h6 class="section-secondary-title mt-5">Buttons Tags :</h6>
<button class="btn btn-primary" type="submit">Button</button>
<input class="btn btn-primary" type="button" value="Input">
<input class="btn btn-primary" type="submit" value="Submit">
<input class="btn btn-primary" type="reset" value="Reset">

<!-- devider -->
<div class="py-5"></div>