<!-- Inputs -->
<h3>Inputs</h3>
<hr>
<div class="row mt-5">
    <div class="col-md-6">
        <h6 class="section-secondary-title">Form controls :</h6>
        <div class="form-group">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email address">
        </div>
        <div class="form-group">
            <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="Date">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Readonly input here…" readonly>
        </div>
        <div class="form-group">
            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>
        </div>
        <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Example select</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <select multiple class="form-control" id="exampleFormControlSelect2">
                <option>Example multiple select</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                placeholder="Example textarea"></textarea>
        </div>
    </div>
    <div class="col-md-6">
        <h6 class="section-secondary-title">Sizes :</h6>
        <div class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Default input">
        </div>
        <div class="form-group">
            <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm">
        </div>
    </div>
</div> <!-- end of inputs -->

<!-- devider -->
<div class="py-5"></div>