<!-- Page Navbar -->
<nav class="custom-navbar" [ngClass]="{ 'affix': scrolled }">
    <div class="container">
        <a class="logo" href="#">Meyawo</a>
        <ul class="nav" [ngClass]="{'show': open}">
            <li class="item">
                <a class="link" href="#home">Home</a>
            </li>
            <li class="item">
                <a class="link" href="#about">About</a>
            </li>
            <li class="item">
                <a class="link" href="#portfolio">Portfolio</a>
            </li>
            <li class="item">
                <a class="link" href="#testmonial">Testmonial</a>
            </li>
            <li class="item">
                <a class="link" href="#blog">Blog</a>
            </li>
            <li class="item">
                <a class="link" href="#contact">Contact</a>
            </li>
            <li class="item ml-md-3">
                <a routerLink="/components" class="btn btn-primary">Components</a>
            </li>
        </ul>
        <a id="nav-toggle" class="hamburger hamburger--elastic" [ngClass]="{'is-active': open}">
            <div class="hamburger-box" (click)="toggle()">
                <div class="hamburger-inner"></div>
            </div>
        </a>
    </div>
</nav>