<!-- contact section -->
<section class="section" id="contact">
    <div class="container text-center">
        <p class="section-subtitle">How can you communicate?</p>
        <h6 class="section-title mb-5">Contact Me</h6>
        <!-- contact form -->
        <form [formGroup]="contactUsForm" (ngSubmit)="saveUserInfo()" #formGroupDirective="ngForm"
            class="contact-form col-md-10 col-lg-8 m-auto">
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <input type="text" size="50" class="form-control" placeholder="Your Name" formControlName="userName"
                        [ngClass]="{'is-invalid': getUserName?.invalid && getUserName?.touched}">
                    <div class="invalid-feedback" *ngIf="getUserName?.errors?.['required']">
                        User Name Is Required.
                    </div>
                    <div class="invalid-feedback"
                        *ngIf="getUserName?.errors?.['minlength'] || getUserName?.errors?.['maxlength']">
                        Name Must Be Between 3 and 25 characters.
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <input type="email" class="form-control" placeholder="Enter Email" formControlName="userEmail"
                        [ngClass]="{'is-invalid': getUserEmail?.invalid && getUserEmail?.touched}">
                    <div class="invalid-feedback" *ngIf="getUserEmail?.errors?.['required']">
                        User Email Is Required.
                    </div>
                    <div class="invalid-feedback" *ngIf="getUserEmail?.errors?.['pattern']">
                        Invalid Email.
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <textarea name="comment" id="comment" rows="6" class="form-control" placeholder="Write Something"
                        formControlName="userComment"></textarea>
                </div>
                <div class="form-group col-sm-12 mt-3">
                    <input type="submit" value="Send Message" class="btn btn-outline-primary rounded">
                </div>
            </div>
        </form><!-- end of contact form -->
    </div><!-- end of container -->
</section>
<!-- end of contact section -->