<!-- typography -->
<h3 class="components-section-title">Typography</h3>
<hr>
<table class="table table-borderless v-align-center">
    <tbody>
        <tr>
            <td>
                <p><code class="highlighter-rouge">&lt;h1&gt;&lt;/h1&gt; || .h1</code></p>
            </td>
            <td class="w-75"><span class="h1">h1. Bootstrap heading</span></td>
        </tr>
        <tr>
            <td>
                <p><code class="highlighter-rouge">&lt;h2&gt;&lt;/h2&gt; || .h2</code></p>
            </td>
            <td><span class="h2">h2. Bootstrap heading</span></td>
        </tr>
        <tr>
            <td>
                <p><code class="highlighter-rouge">&lt;h3&gt;&lt;/h3&gt; || .h3</code></p>
            </td>
            <td><span class="h3">h3. Bootstrap heading</span></td>
        </tr>
        <tr>
            <td>
                <p><code class="highlighter-rouge">&lt;h4&gt;&lt;/h4&gt; || .h4</code></p>
            </td>
            <td><span class="h4">h4. Bootstrap heading</span></td>
        </tr>
        <tr>
            <td>
                <p><code class="highlighter-rouge">&lt;h5&gt;&lt;/h5&gt; || .h5</code></p>
            </td>
            <td><span class="h5">h5. Bootstrap heading</span></td>
        </tr>
        <tr>
            <td>
                <p><code class="highlighter-rouge">&lt;h6&gt;&lt;/h6&gt; || .h6</code></p>
            </td>
            <td><span class="h6">h6. Bootstrap heading</span></td>
        </tr>
        <tr>
            <td>
                <p class="font-weight-bold text-muted">Paragraph :</p>
            </td>
            <td>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat explicabo ab sed voluptas odit hic
                    obcaecati qui omnis.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="font-weight-bold text-muted">BlockQuote :</p>
            </td>
            <td>
                <blockquote class="blockquote">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                        ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>
            </td>
        </tr>

        <tr>
            <td>
                <p class="font-weight-bold text-muted">Ordred List :</p>
            </td>
            <td>
                <ol>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit
                        <ul>
                            <li>Phasellus iaculis neque</li>
                            <li>Vestibulum laoreet porttitor sem</li>
                            <li>Ac tristique libero volutpat at</li>
                        </ul>
                    </li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Eget porttitor lorem</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <p class="font-weight-bold text-muted">Unordred List :</p>
            </td>
            <td>
                <ul>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit
                        <ul>
                            <li>Phasellus iaculis neque</li>
                            <li>Vestibulum laoreet porttitor sem</li>
                            <li>Ac tristique libero volutpat at</li>
                        </ul>
                    </li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Eget porttitor lorem</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <p class="font-weight-bold text-muted">Unstyled List :</p>
            </td>
            <td>
                <ul class="list-unstyled">
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit
                        <ul>
                            <li>Phasellus iaculis neque</li>
                            <li>Vestibulum laoreet porttitor sem</li>
                            <li>Ac tristique libero volutpat at</li>
                        </ul>
                    </li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Eget porttitor lorem</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="font-weight-bold text-muted">Description lists : </td>
            <td>
                <dl class="row">
                    <dt class="col-sm-3">Euismod</dt>
                    <dd class="col-sm-9">
                        <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio.</p>
                    </dd>

                    <dt class="col-sm-3">Malesuada porta</dt>
                    <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

                    <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
                    <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                        fermentum massa justo sit amet risus.</dd>

                    <dt class="col-sm-3">Nesting</dt>
                    <dd class="col-sm-9">
                        <dl class="row">
                            <dt class="col-sm-4">Nested definition list</dt>
                            <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.
                            </dd>
                        </dl>
                    </dd>
                </dl>
            </td>
        </tr>
        <tr>
            <td>
                <p class="font-weight-bold text-muted">Muted Text :</p>
            </td>
            <td>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, nulla,
                    reprehenderit! Beatae, dolor harum fugiat.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="font-weight-bold text-muted">Primary Text :</p>
            </td>
            <td>
                <p class="text-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, nulla,
                    reprehenderit! Beatae, dolor harum fugiat.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="font-weight-bold text-muted">Danger Text :</p>
            </td>
            <td>
                <p class="text-danger">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, nulla,
                    reprehenderit! Beatae, dolor harum fugiat.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="font-weight-bold text-muted">Warning Text :</p>
            </td>
            <td>
                <p class="text-warning">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, nulla,
                    reprehenderit! Beatae, dolor harum fugiat.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="font-weight-bold text-muted">Success Text :</p>
            </td>
            <td>
                <p class="text-success">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, nulla,
                    reprehenderit! Beatae, dolor harum fugiat.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="font-weight-bold text-muted">Info Text :</p>
            </td>
            <td>
                <p class="text-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, nulla,
                    reprehenderit! Beatae, dolor harum fugiat.</p>
            </td>
        </tr>
    </tbody>
</table>
<!-- end of typography -->