<!-- testimonial section -->
<section class="section" id="testmonial">
    <div class="container text-center">
        <p class="section-subtitle">What Think Client About Me ?</p>
        <h6 class="section-title mb-6">Testmonial</h6>

        <!-- row -->
        <div class="row">
            <div class="col-md-6">
                <div class="testimonial-card">
                    <div class="testimonial-card-img-holder">
                        <img src="assets/imgs/avatar2.jpg" class="testimonial-card-img"
                            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                    </div>
                    <div class="testimonial-card-body">
                        <p class="testimonial-card-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Eaque doloribus autem aperiam earum nostrum omnis blanditiis corporis perspiciatis
                            adipisci nihil.</p>
                        <h6 class="testimonial-card-title">Emily Reb</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="testimonial-card">
                    <div class="testimonial-card-img-holder">
                        <img src="assets/imgs/avatar3.jpg" class="testimonial-card-img"
                            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                    </div>
                    <div class="testimonial-card-body">
                        <p class="testimonial-card-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Eaque doloribus autem aperiam earum nostrum omnis blanditiis corporis perspiciatis
                            adipisci nihil.</p>
                        <h6 class="testimonial-card-title">Emily Reb</h6>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end of container -->
</section>
<!-- end of testimonial section -->