<!-- about section -->
<section class="section pt-0" id="about">
    <!-- container -->
    <div class="container text-center">
        <!-- about wrapper -->
        <div class="about">
            <div class="about-img-holder">
                <img src="assets/imgs/man.png" class="about-img"
                    alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
            </div>
            <div class="about-caption">
                <p class="section-subtitle">Who Am I ?</p>
                <h2 class="section-title mb-3">About Me</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae aliquid ad provident aut
                    fuga animi soluta quae eos non cupiditate voluptates dolorem, doloremque quos dicta quibusdam
                    impedit iure nemo a iste
                    <br>culpa! Quasi quibusdam hic recusandae delectus velit officiis explicabo voluptatibus! Nemo
                    esse similique, voluptates labore distinctio, placeat explicabo facilis molestias, blanditiis
                    culpa iusto voluptatem ratione eligendi a, quia temporibus velit vero ipsa sint ex voluptatum
                    expedita aliquid! Debitis, nam!
                </p>
                <button class="btn-rounded btn btn-outline-primary mt-4">Download CV</button>
            </div>
        </div><!-- end of about wrapper -->
    </div><!-- end of container -->
</section>
<!-- end of about section -->