<app-navbar></app-navbar>
<app-user-intro></app-user-intro>
<app-user-about></app-user-about>
<app-user-service></app-user-service>
<app-user-portfolio></app-user-portfolio>
<app-user-pricing></app-user-pricing>
<app-user-collab></app-user-collab>
<app-user-testimonial></app-user-testimonial>
<app-user-blog></app-user-blog>
<app-user-contact></app-user-contact>