<!-- service section -->
<section class="section" id="service">
    <div class="container text-center">
        <p class="section-subtitle">What I Do ?</p>
        <h6 class="section-title mb-6">Service</h6>
        <!-- row -->
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="service-card">
                    <div class="body">
                        <img src="assets/imgs/pencil-case.svg"
                            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page"
                            class="icon">
                        <h6 class="title">Adipisicing</h6>
                        <p class="subtitle">Labore velit culpa adipisci excepturi consequuntur itaque in nam
                            molestias dolorem iste quod.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="service-card">
                    <div class="body">
                        <img src="assets/imgs/responsive.svg"
                            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page"
                            class="icon">
                        <h6 class="title">Sapiente</h6>
                        <p class="subtitle">Labore velit culpa adipisci excepturi consequuntur itaque in nam
                            molestias dolorem iste quod.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="service-card">
                    <div class="body">
                        <img src="assets/imgs/toolbox.svg"
                            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page"
                            class="icon">
                        <h6 class="title">Placeat</h6>
                        <p class="subtitle">Labore velit culpa adipisci excepturi consequuntur itaque in nam
                            molestias dolorem iste quod.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="service-card">
                    <div class="body">
                        <img src="assets/imgs/analytics.svg"
                            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page"
                            class="icon">
                        <h6 class="title">Iusto</h6>
                        <p class="subtitle">Labore velit culpa adipisci excepturi consequuntur itaque in nam
                            molestias dolorem iste quod.</p>
                    </div>
                </div>
            </div>
        </div><!-- end of row -->
    </div>
</section>
<!-- end of service section -->