<!-- pricing section -->
<section class="section" id="pricing">
    <div class="container text-center">
        <p class="section-subtitle">How Much I Charge ?</p>
        <h6 class="section-title mb-6">My Pricing</h6>
        <!-- row -->
        <div class="pricing-wrapper">
            <div class="pricing-card">
                <div class="pricing-card-header">
                    <img class="pricing-card-icon" src="assets/imgs/scooter.svg"
                        alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="pricing-card-body">
                    <h6 class="pricing-card-title">Free</h6>
                    <div class="pricing-card-list">
                        <p>accusamus reprehenderit</p>
                        <p>provident dolorem </p>
                        <p>quos neque</p>
                        <p>fugiat quibusdam</p>
                        <p><i class="ti ti-close"></i></p>
                        <p><i class="ti ti-close"></i></p>
                    </div>
                </div>
                <div class="pricing-card-footer">
                    <span>$</span>
                    <span>0.00/Month</span>
                </div>
                <a href="#" class="btn btn-primary mt-3 pricing-card-btn">Subscribe</a>
            </div>
            <div class="pricing-card">
                <div class="pricing-card-header">
                    <img class="pricing-card-icon" src="assets/imgs/shipped.svg"
                        alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="pricing-card-body">
                    <h6 class="pricing-card-title">Basic</h6>
                    <div class="pricing-card-list">
                        <p>accusamus reprehenderit</p>
                        <p>provident dolorem </p>
                        <p>quos neque</p>
                        <p>fugiat quibusdam</p>
                        <p>accusamus laboriosam</p>
                        <p><i class="ti ti-close"></i></p>
                    </div>
                </div>
                <div class="pricing-card-footer">
                    <span>$</span>
                    <span>9.99/Month</span>
                </div>
                <a href="#" class="btn btn-primary mt-3 pricing-card-btn">Subscribe</a>
            </div>
            <div class="pricing-card">
                <div class="pricing-card-header">
                    <img class="pricing-card-icon" src="assets/imgs/startup.svg"
                        alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="pricing-card-body">
                    <h6 class="pricing-card-title">Premium</h6>
                    <div class="pricing-card-list">
                        <p>accusamus reprehenderit</p>
                        <p>provident dolorem </p>
                        <p>quos neque</p>
                        <p>fugiat quibusdam</p>
                        <p>accusamus laboriosam</p>
                        <p>inventore omnis</p>
                    </div>
                </div>
                <div class="pricing-card-footer">
                    <span>$</span>
                    <span>99.9/Month</span>
                </div>
                <a href="#" class="btn btn-primary mt-3 pricing-card-btn">Subscribe</a>
            </div>

        </div><!-- end of pricing wrapper -->
    </div> <!-- end of container -->
</section>
<!-- end of pricing section -->