<!-- footer -->
<div class="container">
    <footer class="footer">
        <p class="mb-0">Copyright
            <script>document.write(new Date().getFullYear())</script> &copy; <a
                href="http://www.devcrud.com">DevCRUD</a> Distribution <a href="https://themewagon.com">ThemeWagon</a>
        </p>
        <div class="social-links text-right m-auto ml-sm-auto">
            <a href="javascript:void(0)" class="link"><i class="ti ti-facebook"></i></a>
            <a href="javascript:void(0)" class="link"><i class="ti ti-twitter-alt"></i></a>
            <a href="javascript:void(0)" class="link"><i class="ti ti-google"></i></a>
            <a href="javascript:void(0)" class="link"><i class="ti ti-pinterest-alt"></i></a>
            <a href="javascript:void(0)" class="link"><i class="ti ti-instagram"></i></a>
            <a href="javascript:void(0)" class="link"><i class="ti ti-rss"></i></a>
        </div>
    </footer>
</div>
<!-- end of page footer -->